.section {
  background-color: var(--very-pale-blue);
  --padding-container: 7rem 0;
}

.section__img {
  width: 100%;
  max-width: 350px;
  /* Para que se centre */
  display: block;
  margin: 0 auto;
}

.section--white {
  --padding-container: 13rem 0;
  position: relative;
  background-color: #fff;
  /* Ondas */
  /* --wave-top: url("../../assets/images/bg-section-bottom-mobile-1.svg");
  --wave-bottom: url("../../assets/images/bg-section-top-mobile-2.svg"); */
}

.section__container {
  display: flex;
  flex-direction: column;
}

.section__texts {
  margin-top: 3rem;
  text-align: center;
}

.subtitles {
  margin-bottom: 1rem;
  font-family: var(--font-headings);
}

.section__container--inverse {
}

.section__picture {
}

.section__paragraph {
}
