.cta {
  /* 
  Le dice al navegador que el elemento debe comportarse como:
  - inline → se coloca en línea con otros elementos (como texto).
  - block → puede tener alto, ancho, padding, y margin vertical. 
  */
  display: inline-block;
  /* Color background */
  background-color: var(--pink);
  /* Color del texto */
  color: #fff;
  /* Ajustar al tamaño del texto */
  justify-self: center;
  /* Espacio interno */
  padding: 1em 1.8em;
  /* Redondiar el botón */
  border-radius: 2em;
  /*  */
  margin-top: 1em;
  /* Peso de la fuente */
  font-weight: 600;
  /* Sombra */
  box-shadow: -5px 8px 16px -10px var(--button-color);
  /* Quitar líne del link */
  text-decoration: none;
}

.header__cta {
  color: var(--light-pink);
  border: 2px solid;
  padding: 0.3em 1em;
  border-radius: 2em;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 0 1px var(--button-color);
  z-index: 1;
}

.footer__cta {
  background-color: var(--pink);
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--font-body);
  color: #fff;
  padding: 0.6em 2.5em;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  margin-left: auto;
}
