.wave-section {
  position: relative;
  overflow: hidden;
}

/* Reglas para las olas */
.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100px;
  /* z-index: 0; */
}

.wave--top {
  top: 0;
  left: 0;
  background-image: var(--wave-top);
}

.wave--bottom {
  bottom: 0;
  left: 0;
  background-image: var(--wave-bottom);
}

/* El contenido queda por encima */
/* .wave-section > *:not(.wave) {
  position: relative;
  z-index: 1;
} */
